{% extends "layout.html" %}
{% block title %}Загрузить{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {%if message%}
        <div class="alert alert-success" role="alert">{{message}}</div>
        {%endif%}
        <h1>Загрузить excel файл</h1>
        <form method="POST" enctype="multipart/form-data">
            <label text-aling="center"><h4>Выберите колонки:</h4></label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="column1">Наименование организации</label>
                        <input class="form-control" type="text" id="column1" required pattern="^[ 0-9]+$" name="column1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="column2">Почта</label>
                        <input class="form-control" type="text" id="column2" required pattern="^[ 0-9]+$" name="column2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Выберите файл</label>
                <input type="file" id='exampleInputFile' name="inputFile">
                <p class="help-block">Выберите excel файл.</p>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}