{% extends "layout.html" %}
{% block title %}Главная страница{% endblock %}
{% block body %}  
	<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h3>Список</h3>
            <table class="table table-condensed table-hover">
                <thead>
	                <tr>
	                	<th></th>
		                <th>Наименование организации</th>
		                <th>Электронная почта</th>
	                </tr>
                </thead>
                <tbody>
                
                {% for object in data %}
                <tr>
                	<td></td>
                    <td class="clickable-row" data-id="{{ object.id }}" style="cursor: pointer">
                        {{object.name}}
                    </td>
                    <td class="clickable-row" data-id="{{ object.id }}" style="cursor: pointer">
                        {{object.mails}}
                    </td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
            {% if is_paginated %}
                <ul class="pager">
                    {% if page_obj.has_previous %}
                        <li class="previous">
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <span>&larr;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="previous disabled"><a href="#"><span>&larr;</span></a></li>
                    {% endif %}
                    <li>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</li>
                    {% if page_obj.has_next %}
                        <li class="next">
                            <a href="?page={{ page_obj.next_page_number }}">
                                <span>&rarr;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a href="#"><span>&rarr;</span></a></li>
                    {% endif %}
                </ul>
            {% endif %}
        <a id="button_add" class="btn btn-primary">Добавить</a>
    </div>
</div>

{% endblock %}