{% extends "layout.html" %}
{% block title %}Главная страница{% endblock %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
{% block body %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            {% if data %}
                <h3>Список</h3>
                {{ pagination.info }}
                {{ pagination.links }}
                <input type="text" id="myInput" class="form-control" onkeyup="Search()"
                       placeholder="Поиск по организациям">
                <div id="pagesize" style="font-size: small" align="right">Показывать по
                    <a href="/?id=10" style="cursor: pointer">10</a>
                    <a href="/?id=20" style="cursor: pointer">20</a>
                    <a href="/?id=50" style="cursor: pointer">50</a>
                </div>
                <table class="table table-condensed table-hover" id="myTable">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>#</th>
                        <th>Наименование организации</th>
                        <th>Электронная почта</th>
                        <th>
                            <form name="groupForm" method="post" action="">
                                <select class="form-control" onchange="document.forms['groupForm'].submit()" name="groups">
                                    <option value="" disabled selected hidden>Выберите группу</option>
                                    <option value="-1">Все группы</option>
                                    {% for gr in groups %}
                                        <option value="{{ gr.id }}">{{ gr.name }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in data %}
                        <tr id="{{ object.id }}">
                            <td><input type="checkbox" name="optradio"></td>
                            <td>{{ loop.index + (page - 1) * per_page }}</td>
                            <td>
                                {{ object.name }}
                            </td>
                            <td>
                                {{ object.mails }}
                            </td>
                            <td>
                                {% for gr in groups %}
                                    {% if object.group_id == gr.id %}
                                        {{ gr.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs pull-right" onclick="confirmUpdate(event);"
                                        id="{{ object.id }}">
                                    <span class="glyphicon glyphicon-pencil" id="{{ object.id }}"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}<br>
                <button class="btn btn-success disabled" disabled="disabled" id="button_send">Отправить</button>
                <button class="btn btn-danger" disabled="disabled" id="button_delete">Удалить</button>
                <a href="/create">
                    <button class="btn btn-primary" style="float: right;">Добавить</button>
                </a>
                <p id="out"></p>
            {% else %}
                <h1>Записи не найдены</h1>
                <a href="/create">
                    <button class="btn btn-primary" style="float: right;">Добавить</button>
                </a>
            {% endif %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Подтвердите удаление</h4>
                </div>
                <div class="modal-body">
                    <p id="text-modal"></p>
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <input type="hidden" id="list_id_del" name="list_id_del" value="">
                        <input type="submit" class="btn btn-danger" value="Да">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-send">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Подтвердите отправку почты</h4>
                </div>
                <div class="modal-body">
                    <p id="text-org"></p>
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <input type="hidden" id="list_id" name="list_id" value="">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Шаблон сообщения
                                    </div>
                                    <div class="list-group" id="templates_available">
                                        {% for t in template %}
                                            <a href="#" class="list-group-item" data-id="{{ t.id }}"
                                               data-value="{{ t.name }}">
                                                <span>{{ t.name }}</span>
                                                <div class="badge"></div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Выбранный шаблон сообщения
                                    </div>
                                    <ul class="list-group" id="templates_selected"></ul>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success" value="Да">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
        $('#button_send').click(function () {
            var selectedIds = [];
            var selectedName = [];
            $('#myTable tr').filter(':has(:checkbox:checked)').each(function () {
                var i = parseInt($(this).closest('tr').attr('id'));
                if (!isNaN(i)) {
                    selectedIds.push(i);
                }
                if ($(this).closest('tr').children('td')[2] !== undefined) {
                    selectedName.push($(this).closest('tr').children('td')[2].innerText)
                }
            });
            var link = '/send';
            var dialog = $('#modal-send');
            dialog.find('form').attr('action', link);
            dialog.modal().css({
                width: 'auto'
            });
            dialog.modal('show');
            if (localStorage.getItem('name') == null){
                var textArray = selectedName;
            }
            else {
                var textArray = unique(selectedName.concat(localStorage.getItem('name').split(",")));
                textArray.splice(0,1);
            }
            document.getElementById("text-org").textContent = textArray;
            document.getElementById("text-org").innerHTML = document.getElementById("text-org").textContent.replaceAll(",", "<br>");
            if (localStorage.getItem('id') == null){
                var arr = selectedIds;
            }
            else {
                var arr = unique(selectedIds.concat(localStorage.getItem('id').split(",")));
                arr.splice(0,1)
            }
            $('#list_id').val(arr);
            localStorage.clear();
        });
        function confirmUpdate(event) {
            var id = $(event.target).attr('id');
            window.location = '/update/?id=' + id;
        }
        function appendToStorage(name, data) {
            var old = localStorage.getItem(name);
            if (old === null) old = "";
            localStorage.setItem(name, old + data);
        }
        if (localStorage.getItem('id') != null) {
            var arr = localStorage.getItem('id').split(",");
            for (var i = 0; i < arr.length - 1; i++) {
                for (var j = 1; j < $('#myTable').find('tr').length - 1; j++) {
                    if (arr[i] == $('#myTable').find('tr')[j].id) {
                        $('#myTable').find('tr').eq(j).children('td').children('input').attr('checked', true);
                    }
                }
            }
        }
        $('li').click(function () {
            var selectedIds = [];
            var selectedName = [];
            $('#myTable').find('tr').filter(':has(:checkbox:checked)').each(function () {
                selectedIds.push($(this).closest('tr').attr('id'));
                if (selectedIds[0] == undefined) {
                    selectedIds.splice(0, 1)
                }
                if ($(this).closest('tr').children('td')[2] != undefined) {
                    selectedName.push($(this).closest('tr').children('td')[2].innerText)
                }
            });
            if (selectedName != '') {
                appendToStorage('id', selectedIds + ',');
                appendToStorage('name', selectedName + ',');
                {#                arr(localStorage.getItem('name'));#}
                {#                localStorage.ap;#}
            }
        });
        function unique(a) {
            i = a.length;
            a.sort();
            while (i--) {
                if (a[i] == a[i - 1]) {
                    a.splice(i, 1);
                }
            }
            return a;
        }
        $('#button_delete').click(function () {
            var selectedIds = [];
            var selectedName = [];
            $('#myTable').find('tr').filter(':has(:checkbox:checked)').each(function () {
                selectedIds.push($(this).closest('tr').attr('id'));
                if (selectedIds[0] == undefined) {
                    selectedIds.splice(0, 1)
                }
                if ($(this).closest('tr').children('td')[2] != undefined) {
                    selectedName.push($(this).closest('tr').children('td')[2].innerText)
                }
            });
            var link = '/delete';
            var dialog = $('#modal-delete');
            dialog.find('form').attr('action', link);
            dialog.modal('show');
            if (localStorage.getItem('name') == null){
                var textArray = selectedName;
            }
            else {
                var textArray = unique(selectedName.concat(localStorage.getItem('name').split(",")));
                textArray.splice(0,1);
            }
            document.getElementById("text-modal").textContent = textArray;
            document.getElementById("text-modal").innerHTML = document.getElementById("text-modal").textContent.replaceAll(",", "<br>");
            if (localStorage.getItem('id') == null){
                var arr = selectedIds;
            }
            else {
                var arr = unique(selectedIds.concat(localStorage.getItem('id').split(",")));
                arr.splice(0,1)
            }
            $('#list_id_del').val(arr);
            localStorage.clear();
        });
        String.prototype.replaceAll = function (token, newToken, ignoreCase) {
            var _token;
            var str = this + "";
            var i = -1;
            if (typeof token === "string") {
                if (ignoreCase) {
                    _token = token.toLowerCase();
                    while ((
                        i = str.toLowerCase().indexOf(
                            _token, i >= 0 ? i + newToken.length : 0
                        ) ) !== -1
                        ) {
                        str = str.substring(0, i) +
                            newToken +
                            str.substring(i + token.length);
                    }
                } else {
                    return this.split(token).join(newToken);
                }
            }
            return str;
        };
        $('input[type=checkbox]').change(function () {
            var len = $('input[type=checkbox]:checked').length;
            if (len > 0) {
                $('#button_send').attr("disabled", false).removeClass('disabled');
                $('#button_delete').attr("disabled", false).removeClass('disabled');
            }
            else {
                $("#button_send").attr("disabled", true).addClass('disabled');
                $('#button_delete').attr("disabled", true).addClass('disabled');
            }
        });

        function removeTemplate() {
            var $target = $(this);
            var id = $target.data('id');
            $target.remove();

            var $badge = $('#templates_available').find('.list-group-item[data-id="' + id + '"]').find('.badge');
            var count = parseInt($badge.html());
            if ((isNaN(count)) || (count === 1)) {
                $badge.html('');
            } else {
                $badge.html(count - 1);
            }
        }
        function addTemplate() {
            var $target = $(this);

            var $input = $('<input>', {'type': 'hidden', 'name': 'template', 'value': $target.data('id')});

            $('<a />', {'href': '#', 'class': 'list-group-item', 'data-id': $target.data('id')})
                .append($('<span />').html($target.data('value')))
                .append($input)
                .appendTo('#templates_selected');
        }

        $('#templates_available').on('click', '.list-group-item', addTemplate);
        $('#templates_selected').on('click', '.list-group-item', removeTemplate);

        function Search() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
