{% extends "layout.html" %}
{% block title %}Шаблоны{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" id="form_temp" enctype=multipart/form-data>
                <div class="form-group">
                    <label>Наименование шаблона</label>
                    <input class="form-control" placeholder="Тема почты" required name="name" value="{{ data.name }}">
                </div>
                <div class="form-group">
                    <label>Сообщение</label>
                    <div id="summernote"></div>
                    <input type="hidden" id="text_code" name="message">
                    <input type="hidden" id="message_code" value="{{ data.message }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Выберите файл</label>
                    <input type="file" id='exampleInputFile' name="inputFile">
                    <p class="help-block">Выберите файл.</p>
                </div>
                <button type="button" onclick="save()" class="btn btn-primary">Сохранить</button>
                <a href="/template" class="btn btn-default">Отмена</a>
            </form>
        </div>
    </div>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
    <script src="../../static/js/summernote.js"></script>
    <script src="../../static/js/summernote-ru-RU.js"></script>
    <script>
    var code_text = $('#message_code').val();
        $('#summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,
            lang: 'ru-RU',
            fontsize: true, // set maximum height of editor
            focus: true
        });

        $('#message_name').children('p').html(code_text);

        var save = function () {
            var text_code = $('#summernote').summernote('code');
            $('#text_code').val(text_code);
            $('#form_temp').submit();
        };
    </script>
{% endblock %}